$alice-blue: #f2f4f5;
$dark-charcoal: #333333;
$davy-grey: #555555;
$cutty-sark: #647c72;
$white-ice: #dfe9e4;

$bg-color: $alice-blue;
$h1-color: $dark-charcoal;
$h2-color: $cutty-sark;
$h3-color: $davy-grey;
$text-color: $davy-grey;
$icon-color: $cutty-sark;
$separator-color: $white-ice;
$logo-color: $dark-charcoal;

$mobile-width: 767px;
$tablet-width: 1105px;
