.contacts-list {
  display: flex;
  list-style: none;
}

.contacts-list li {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.contacts-list a {
  display: block;
  width: 25px;
  height: 25px;
}
